<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281324815044-00h1t7umnghdjh75u24t9s5tigld6h17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281324815044-00h1t7umnghdjh75u24t9s5tigld6h17</string>
	<key>API_KEY</key>
	<string>AIzaSyCNPCncmZylNEeFCBse9R6V8WnCrP6gT7o</string>
	<key>GCM_SENDER_ID</key>
	<string>281324815044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KEEN.RemoteConfigEx</string>
	<key>PROJECT_ID</key>
	<string>remoteconfigex-1705b</string>
	<key>STORAGE_BUCKET</key>
	<string>remoteconfigex-1705b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281324815044:ios:664e04e7eb8d83170d7f91</string>
</dict>
</plist>